::-webkit-scrollbar {width: 10px ;}
::-webkit-scrollbar-thumb {border-radius: 10px ;background-color: nth($colors, 9) ;}
::-webkit-scrollbar-track {border-radius: 10px ;background-color: nth($colors, 1) ;}
::selection {background-color: nth($colors, 2) ;}
::-moz-selection {background-color: nth($colors, 2) ;}
::-webkit-scrollbar {width: 10px ;}
::-webkit-scrollbar-thumb {border-radius: 10px ;background-color: nth($colors, 9) ;}
::-webkit-scrollbar-track {border-radius: 10px ;background-color: nth($colors, 1) ;}
::selection {background-color: nth($colors, 2) ;}
::-moz-selection {background-color: nth($colors, 2) ;}
.cssinput {border: 1px solid nth($colors, 1) ;text-align: center ;cursor: text ;margin: 0 ;border-radius: 5px ;background: nth($colors, 1) ;color: nth($greys, 11) ;font-family: Calibri ;min-width: 140px ;line-height: $line_height ;font-size: $font_size ;}
.cssinput:hover {color: nth($success, 2) ;}
.cssinput:focus {outline: 0 ;}
.cssdivnoborder {margin: 0 ;clear: both ;padding: 0 ;border: 0 ;}
.cssbuttonbasic_button_2194571713112 {font-weight: bold ;padding: 2px 20px ;margin: 2px 0 2px 0 ;text-decoration: none ;border-radius: 4px ;white-space: nowrap ;display: inline-block ;line-height: 30px ;-webkit-appearance: none ;-moz-appearance: none ;border: 1px solid nth($greys, 5) ;color: nth($colors, 10) ;background-color: nth($greys, 1) ;}
.cssbuttonbasic_button_2194571713112:hover {text-decoration: none ;cursor: pointer ;background-color: nth($colors, 1) ;color: nth($colors, 10) ;}
.cssbuttonbasic_button_2194571713112:focus {outline: 0 ;}
.cssbuttonbasic_button_2194571713112:disabled {cursor: none ;background-color: nth($colors, 10) ;color: nth($colors, 7) ;font-style: italic ;}
.cssbuttonbasic_button_2194571781456 {font-weight: bold ;padding: 2px 20px ;margin: 2px 0 2px 0 ;text-decoration: none ;border-radius: 4px ;white-space: nowrap ;display: inline-block ;line-height: 30px ;-webkit-appearance: none ;-moz-appearance: none ;border: 1px solid nth($greys, 5) ;color: nth($colors, 10) ;background-color: nth($greys, 1) ;}
.cssbuttonbasic_button_2194571781456:hover {text-decoration: none ;cursor: pointer ;background-color: nth($colors, 1) ;color: nth($colors, 10) ;}
.cssbuttonbasic_button_2194571781456:focus {outline: 0 ;}
.cssbuttonbasic_button_2194571781456:disabled {cursor: none ;background-color: nth($colors, 10) ;color: nth($colors, 7) ;font-style: italic ;}
